
h1{
    color: red;
    font-size: 56px;
}
#container
{
    background-color: rgb(232, 255, 196);
}
#cabecera
{
    background: rgb(127, 127, 216);
    color: white;
    margin: 0;
    text-align: center;
    padding: 0.5em;
}
.malo
{
    color: red;
}